<!-- Sidebar (Angular) -->
<app-sidebar></app-sidebar>

<!-- Toast Notifications -->
<app-toast></app-toast>

<!-- Header -->
<div id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
  <div id="header" class="nav-collapse">
    <div class="row clearfix">
      <div class="col-1">
        <div id="logo">
          <a href="index.html"><img src="images/logo.png" id="banner-logo" alt="Calgoric"/></a>
          <a href="index.html"><img src="images/logo.png" id="navigation-logo" alt="Calgoric"/></a>
        </div>
        <aside style="padding: 0px">
          <ul class="social-icons">
            <li>
              <a title="Math-Equation" href="javascript:void(0)" (click)="openMathTool()" style="color:grey; font-size: 20px;">
                <i class="fa fa-code" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </aside>
        <nav id="nav-main">
          <ul>
            <li><a href="index.html">ADD-FUNCTION</a></li>
            <li><a href="index.html?srch=All">ALL-FUNCTIONS</a></li>
          </ul>
        </nav>
        <div id="nav-trigger"><span></span></div>
        <nav id="nav-mobile"></nav>
      </div>
    </div>
  </div>
</div>

<!-- Main Content -->
<main class="main container" id="content">
  <app-search></app-search>
  <app-funcbody></app-funcbody>
</main>
